Source: linstor-proxmox
Maintainer: LINBIT HA Solutions GmbH <drbd-dev@lists.linbit.com>
Uploaders: Roland Kammerer <roland.kammerer@linbit.com>
Section: perl
Priority: optional
Build-Depends: debhelper (>= 9)
Standards-Version: 3.9.6

Package: linstor-proxmox
Architecture: all
Depends: drbd-utils,
         linstor-client,
         libjson-perl,
         libpve-storage-perl,
         librest-client-perl,
         libtypes-serialiser-perl,
         ${misc:Depends},
         ${perl:Depends}
Suggests: linstor-controller,
          linstor-satellite
Replaces: drbdmanage-proxmox
Conflicts: drbdmanage-proxmox
Description: DRBD distributed resource management utility
 LINSTOR is a daemon and a command line utility that manages DRBD
 replicated LVM/ZFS volumes across a group of machines.
 .
 It maintains DRBD configuration an the participating machines. It
 creates/deletes the backing LVM/ZFS volumes. It automatically places
 the backing LVM/ZFS volumes among the participating machines.
